body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

}

#email {
    padding: 50px;
    margin: 50px auto;
    width: 500px;
    border: 2px solid black;
    box-sizing:border-box;
    overflow: hidden;
    background-color: blanchedalmond;
}

#confidential,
#top-secret {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid red;
    color: red;
    font-weight: bold;
    text-align:center;
}

#confidential {
    transform: rotate(-45deg);
    margin-left:200px;

}

#top-secret {
    transform: rotate(25deg);
    margin: 10px;
}

.blurred {
    filter: blur(3px);
}